:root {
  //fonts
  --main-font: "Ubuntu", sans-serif;
  --secondary-font: "Source Sans Pro", sans-serif;
  //bgc
  --main-bg-color: #0a2e45;
  --secondary-bg-color: #40bda6;

  //text color
  --main-txt-color: #000000;
  --title-color: #40bda6;
  --white-color: #ffffff;
}
