:root { 
    
    //   fonts
  --main-font: font-family: 'Ubuntu', sans-serif;
  --second-font: font-family: 'Source Sans Pro', sans-serif;
  
    //bgc
  --main-bg-color: #0a2e45;
  --secondary-bg-color:#40BDA6;
  
  //text color
    --main-txt-color: #000000;
    --title-color: #40BDA6;
    --white-color: #FFFFFF;

;



}



